:root {
  --bg-main: #ffffff;
  --bg-secondary: #f7f9fa;
  --blue: #0070a0;
  --link-topbar: #cce5f3;
  --link-header: #33383f;
  --main-text: #1f1f1f;
  --bg-feature-speed: #faea73;
  --bg-feature-value: #cceff5;
  --bg-feature-security: #f7cedc;
  --hl: #c2cdd8;
  --bg-blog-tag: #e6f7ff;
  --blog-tag: #2c90c9;
  --footer: #626a72;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  max-width: 1440px;
  list-style-type: none;
  text-decoration: none;
}

.topbar {
  background-color: var(--blue);
  width: 100%;
  display: flex;
  justify-content: center;
}

.topbar__inner {
  display: flex;
  width: 402px;
  padding: 12px 0 11px 0;
  justify-content: center;
  align-items: flex-start;
}

.topbar__text {
  flex-shrink: 0;
  color: var(--bg-main);
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: 0.2px;
}

.topbar__link {
  flex-shrink: 0;
  text-align: center;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18.2px;
  letter-spacing: 0.2px;
  color: var(--link-topbar);
  text-decoration: underline;
}

.header {
  background-color: var(--bg-main);
  width: 100%;
  top: 43px;
}

.header__inner {
  box-sizing: border-box;
  display: flex;
  padding: 19px 50px;
  margin: 0 105px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}

.header__logo {
  width: 106px;
  height: 37px;
}

.header__bar {
  max-width: 1000px;
  width: 100%;
  display: flex;
  height: 36px;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
}

.nav__list {
  width: 345px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 64px 51px 89px 72px;
  align-items: center;
  gap: 25px;
  padding: 6px 12px;
}

.nav__link {
  flex-shrink: 0;
  font-family: Inter;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: var(--link-header);
}

.header__actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 11px;
  width: 239px;
}

.header__login {
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 6px 20px 6px 19px;
  width: 89px;
  height: 36px;
  font-family: Inter;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: var(--blue);
  text-align: center;
}

.header__login:hover {
  background-color: var(--link-topbar);
  width: 89px;
}

.header .btn {
  flex-shrink: 0;
  background-color: var(--blue);
  width: 99px;
  height: 24px;
  font-family: Inter;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: var(--bg-main);
  padding: 6px 20px 6px 20px;
}

.main {
  width: 1440px;
  height: 4951.984375px;
}

.hero {
  height: 519px;
  background-color: var(--bg-main);
}

.hero__inner {
  width: 1130px;
  margin: 70px 155px 50.42px 155px;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
}

.hero__content {
  flex-shrink: 0;
  margin-top: 56px;
}

.hero__title {
  box-sizing: border-box;
  padding-top: 1px;
  width: 485px;
  font-family: Fraunces;
  font-size: 58px;
  font-weight: 400;
  line-height: 63.8px;
  letter-spacing: 0.2px;
  color: var(--main-text);
}

.hero__text {
  width: 351px;
  padding-top: 19px;
  color: var(--main-text);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.4px;
}

.hero__actions {
  margin-top: 28.72px;
  width: 316.636px;
  display: inline-flex;
  justify-content: space-between;
}

.hero__actions .btn {
  box-sizing: border-box;
  padding: 9px 31px 10px 33px;
  background-color: var(--blue);
  width: 174px;
  height: 43px;
  color: var(--bg-main);
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.2px;
  text-decoration: none;
}

.learn {
  box-sizing: border-box;
  flex-shrink: 0;
  display: flex;
  width: 116.636px;
  align-items: center;
  gap: 7px;
}

.learn__text {
  padding: 9px 0 7px 0;
  color: var(--blue);
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.2px;
  text-decoration: none;
}

.trusted {
  width: 1230px;
  height: 96.813px;
}

.trusted__inner {
  box-sizing: border-box;
  display: flex;
  margin-top: 30px;
  margin-left: 199px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 27px;
}

.trusted__title {
  margin-top: 4px;
  margin-left: 18px;
  width: 366px;
  color: var(--main-text);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 440;
  line-height: 37.5px;
  letter-spacing: 0.6px;
}

.trusted__logos {
  margin-left: 2px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 61px;
  flex-shrink: 0;
}

.features {
  width: 1130px;
  margin-top: 165px;
  margin-left: 154px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.features__grid {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
}

.feature {
  width: 355px;
  height: 250px;
  box-sizing: border-box;
  padding-left: 32px;
  padding-top: 32px;
}

.feature--speed {
  background-color: var(--bg-feature-speed);
}

.feature--value {
  background-color: var(--bg-feature-value);
}

.feature--security {
  background-color: var(--bg-feature-security);
}

.feature__title {
  margin-top: 5px;
  color: var(--main-text);
  font-family: Fraunces;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 31.25px;
  letter-spacing: 0.2px;
}

.feature__text {
  width: 287px;
  margin-top: 12px;
  color: var(--main-text);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  letter-spacing: 0.2px;
}

.benefits {
  width: 1440px;
  background: var(--bg-secondary);
  margin-top: 119px;
}

.benefits__inner {
  padding: 81px 105px 79px 105px;
  display: flex;
  flex-direction: column;
}

.benefits__title {
  margin-left: 50px;
  color: var(--main-text);
  font-family: Fraunces;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.2px;
}

.benefits__title-line {
  display: block;
}

.benefits__title-line:first-child {
  width: 629px;
}

.benefits__title-line:last-child {
  width: 573px;
  font-size: 39px;
  letter-spacing: 0.5px;
}

.benefits__content {
  display: inline-flex;
  gap: 121.172px;
  align-items: flex-start;
  margin-left: 32px;
  margin-top: 34px;
  box-sizing: border-box;
}

.benefits__list {
  margin-left: 18px;
  margin-top: 26.5px;
  width: 485.828px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1px;
}

.benefits__item {
  flex-shrink: 0;
  width: 450px;
  height: 64px;
  display: inline-flex;
  box-sizing: border-box;
  padding: 17px 16.17px 0px 12px;
  gap: 16px;
  border-top: 1px solid var(--hl);
  border-bottom: 1px solid var(--hl);
}

.benefits__item--active {
  flex-shrink: 0;
  height: 157px;
}

.benefits__item img {
  width: 32px;
  height: 32px;
}

.benefits__filling {
  display: flex;
  width: 373.828px;
  padding: 1.109px 0 15.891px 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}

.benefits__header {
  width: 373.828px;
  display: flex;
  justify-content: space-between;
}

.benefits__header span {
  color: var(--footer);
  font-family: Fraunces;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.2px; /* 126% */
  letter-spacing: 0.2px;
  width: auto;
}

.benefits__item--active .benefits__header {
  color: var(--main-text);
}

.benefits__text {
  width: 363px;
  color: #1f1f1f;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.25px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.benefits__item--active .benefits__text {
  max-height: 363px;
  opacity: 1;
}

.benefits__toggle {
  background-color: inherit;
}

.benefits__toggle img {
  width: 18px;
  height: 10px;
}

.about__inner {
  margin: 117px 155px 120px 155px;
  display: flex;
  width: 1130px;
  height: 218px;
  justify-content: space-between;
  align-items: flex-start;
}

.about__title {
  color: var(--main-text);
  font-family: Fraunces;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 50.4px;
  letter-spacing: 0.2px;
}

.about__title-line {
  display: block;
}

.about__title-line:last-child {
  font-size: 41px;
  letter-spacing: 0.5px;
}

.about__grid {
  display: flex;
  width: 732px;
  height: 218px;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  flex-shrink: 0;
}

.about__item {
  box-sizing: border-box;
  padding-right: 7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 223px;
}

.about__item img {
  width: 55px;
  height: 55px;
}

.about__item__title {
  margin-top: 9px;
  color: var(--main-text);
  font-family: Fraunces;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 31.25px; /* 125% */
  letter-spacing: 0.2px;
}

.about__item__text {
  margin-top: 12px;
  color: var(--main-text);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.2px;
}

.about__item:nth-child(2) .about__item__text {
  font-size: 16px;
  letter-spacing: 0.2px;
}

.advantages {
  background-color: var(--blue);
}

.advantages__inner {
  margin: 80px 155px;
  display: inline-flex;
  height: 390px;
  padding-left: 60px;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 187px;
}

.advantages__content {
  display: flex;
  flex-direction: column;
}

.advantages__title {
  color: var(--bg-main);
  font-family: Fraunces;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 50.4px; /* 120% */
  letter-spacing: 0.2px;
}

.advantages__text {
  margin-top: 20px;
  color: var(--bg-main);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
  letter-spacing: 0.4px;
}

.advantages__list {
  margin-top: 17px;
  display: flex;
  width: 501px;
  padding-bottom: 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.advantages__list li {
  display: flex;
  width: 501px;
  height: 21px;
  padding-right: 273px;
  align-items: flex-start;
  gap: 7px;
}

.advantages__list span {
  padding-top: 1px;
  color: var(--bg-main);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px; /* 135% */
  letter-spacing: 0.2px;
}

.advantages__list li:nth-child(2) span {
  font-size: 17px;
}

.advantages__content .btn {
  width: 176px;
  height: 43px;
  margin-top: 16px;
  box-sizing: border-box;
  padding: 9px 32px;
  color: var(--bg-main);
  text-align: center;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 158.824% */
  letter-spacing: 0.2px;
}

.processes {
  margin: 120px 105px;
}

.processes__inner {
  margin-left: 50px;
  display: flex;
  width: 1130px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 68px;
}

.processes__header {
  display: flex;
  width: 650px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 17px;
}

.processes__title {
  color: var(--main-text);
  font-family: Fraunces;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 50.4px; /* 120% */
  letter-spacing: 0.2px;
}
.processes__text {
  color: var(--main-text);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 420;
  line-height: 27px; /* 150% */
  letter-spacing: 0.35px;
}

.processes__grid {
  display: flex;
  width: 1130px;
  height: 218px;
  justify-content: center;
  align-items: flex-start;
  gap: 64px;
}

.process {
  width: 234.5px;
  height: 218px;
  flex-shrink: 0;
}

.process__title {
  margin-top: 5px;
  color: var(--main-text);
  font-family: Fraunces;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 31.25px; /* 125% */
  letter-spacing: 0.2px;
}

.process:last-child .process__title {
  margin-top: 12px;
}

.process__text {
  margin-top: 13px;
  color: #1f1f1f;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  letter-spacing: 0.2px;
}

.process:nth-child(2) .process__text{
  font-size: 15px;
  padding-right: 4px;
}

.process:nth-child(3) .process__text {
  font-size: 14px;
  padding-right: 13px;
}
