:root {
  --bg-main: #ffffff;
  --bg-secondary: #f7f9fa;
  --blue: #0070a0;
  --link-topbar: #cce5f3;
  --link-header: #33383f;
  --main-text: #1f1f1f;
  --bg-feature-speed: #faea73;
  --bg-feature-value: #cceff5;
  --bg-feature-security: #f7cedc;
  --hl: #c2cdd8;
  --bg-blog-tag: #e6f7ff;
  --blog-tag: #2c90c9;
  --footer: #626a72;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  max-width: 1440px;
  list-style-type: none;
  text-decoration: none;
}

.topbar {
  background-color: var(--blue);
  width: 100%;
  height: 43px;
  display: flex;
  justify-content: center;
}

.topbar__inner {
  display: flex;
  width: 402px;
  height: 43px;
  padding: 12px 0 11px 0;
  justify-content: center;
  align-items: flex-start;
}

.topbar__text {
  box-sizing: border-box;
  padding-top: 0.5px;
  padding-left: 3px;
  width: 275px;
  flex-shrink: 0;
  color: var(--bg-main);
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: 0.2px;
}

.topbar__link {
  box-sizing: border-box;
  padding-top: 1px;
  width: 128px;
  flex-shrink: 0;
  text-align: center;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18.2px;
  letter-spacing: 0.2px;
  color: var(--link-topbar);
  text-decoration: underline;
}

.header {
  background-color: var(--bg-main);
  height: 75px;
  width: 1440px;
  top: 43px;
}

.header__inner {
  box-sizing: border-box;
  display: flex;
  height: 75px;
  padding: 19px 50px;
  margin: 0 105px 0 105px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}

.header__logo {
  width: 106px;
  height: 37px;
}

.header__bar {
  width: 1000px;
  display: flex;
  height: 36px;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
}

.nav__list {
  width: 345px;
  box-sizing: border-box;
  height: 36px;
  display: inline-grid;
  grid-template-columns: 64px 51px 89px 72px;
  align-items: center;
  gap: 25px;
  padding: 5px 12px;
}

.nav__link {
  flex-shrink: 0;
  font-family: Inter;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: var(--link-header);
}

.header__actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 11px;
  width: 239px;
}

.header__login {
  flex-shrink: 0;

  box-sizing: border-box;
  padding: 6px 20px 6px 19px;
  width: 89px;
  height: 36px;
  font-family: Inter;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: var(--blue);
  text-align: center;
}

.header__login:hover {
  background-color: var(--link-topbar);
  width: 89px;
}

.header .btn {
  flex-shrink: 0;
  background-color: var(--blue);
  width: 99px;
  height: 24px;
  font-family: Inter;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: var(--bg-main);
  padding: 6px 20px 6px 20px;
}

.main {
  width: 1440px;
  height: 4951.984375px;
}

.hero {
  height: 519px;
  background-color: var(--bg-main);
}

.hero__inner {
  width: 1130px;
  height: 433.578125px;
  margin: 70px 155px 80.58px 155px;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
}

.hero__content {
  margin-top: 50px;
}

.hero__title {
  width: 485px;
  height: 128px;
  font-family: Fraunces;
  font-size: 58px;
  font-style: normal;
  font-weight: 400;
  line-height: 63.8px;
  letter-spacing: 0.2px;
  color: var(--main-text);
}

.hero__text {
  width: 351px;
  height: 90px;
  padding-top: 23px;
  color: var(--main-text);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
}

.hero__actions {
  margin-top: 37px;
}

.hero__actions .btn {
  box-sizing: border-box;

  padding: 13px 33px 10px 33px;
  background-color: var(--blue);
  width: 174px;
  height: 43px;
  color: #fff;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.2px;
  text-decoration: none;
}

.learn {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  width: 115px;
  margin-left: 20px;
  margin-top: 1px;
  color: var(--blue);
  text-align: center;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.2px;
  text-decoration: none;
}

.trusted {
  margin-top: 33.58px;
  margin-left: 50px;
}

.trusted__inner {
  display: flex;
  width: 1230px;
  height: 96.813px;
  padding: 0 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 27px;
}

.trusted__title {
  margin-top: 4px;
  margin-left: 10px;
  width: 366px;
  color: #1f1f1f;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 37.5px;
  letter-spacing: 0.2px;
}

.trusted__logos {
  margin-left: 2px;
  display: flex;
  height: 35.813px;
  justify-content: flex-end;
  align-items: center;
  gap: 61px;
  flex-shrink: 0;
}
